.CommentArea {
  display:grid;
  grid-template-columns: 1fr 60px;
}

.Avatar {
  display: inline !important;
  width: 60px;
  margin: 5px
}


@media screen and (max-width: 1474px) {
  .profile {
    width: 220px !important;
  }
}

@media screen and (max-width: 1280px) {
  .profile {
    width: 190px !important;
  }
}

@media screen and (max-width: 768px){
  .profile{
    width: 180px !important;
  }
}

@media screen and (max-width: 767px){
  .profile {
    display:none;
  }
}
